{
  "openapi": "3.1.0",
  "info": {
    "title": "Insight Pre-Trade Safety API",
    "version": "1.0.0",
    "contact": {
      "name": "YuTao Peng (Insight)",
      "email": "imokokok123@gmail.com"
    },
    "description": "Oracle-immune-system pre-trade safety checks with verifiable EIP-712 attestation support. The REST pre-trade endpoint supports x402 and optional MPP; the MPP MCP pilot exposes pre_trade_safety_check on a dedicated endpoint. The full MCP tool catalog remains on /api/mcp.",
    "x-guidance": "REST: GET /api/v1/safety/pre-trade with asset, chainId, action, and tradeAmountUsd. The full MCP catalog uses POST /api/mcp (x402 or API key). The MPP MCP pilot uses POST /api/mcp/mpp and only accepts pre_trade_safety_check. MPP is shown only when enabled; its challenge is authoritative. Every paid result is settled only after the tool succeeds."
  },
  "servers": [
    {
      "url": "https://www.oracleinsight.xyz",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/v1/safety/pre-trade": {
      "get": {
        "operationId": "preTradeSafetyCheck",
        "summary": "Pre-trade safety check with verifiable attestation",
        "tags": ["Safety"],
        "parameters": [
          {
            "name": "asset",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "examples": ["ETH"] },
            "description": "Asset symbol, e.g. ETH, BTC, USDC"
          },
          {
            "name": "chainId",
            "in": "query",
            "required": true,
            "schema": { "type": "integer", "examples": [1] },
            "description": "Chain ID, e.g. 1=Ethereum, 0=chain-agnostic"
          },
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["swap", "borrow", "lend", "liquidate", "repay"]
            },
            "description": "Type of DeFi operation"
          },
          {
            "name": "tradeAmountUsd",
            "in": "query",
            "required": true,
            "schema": { "type": "number", "exclusiveMinimum": 0, "examples": [1000] },
            "description": "Trade size in USD"
          },
          {
            "name": "targetProviders",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "Comma-separated list of oracle providers to restrict the check to"
          },
          {
            "name": "protocolId",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "examples": ["aave-v3-ethereum"] },
            "description": "Optional lending protocol id to evaluate against"
          },
          {
            "name": "schemaVersion",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "enum": [1, 2, 3] },
            "description": "Attestation schema version: 1 (default, 11-field), 2 (26-field, CAIP-19 + quorum gate), 3 (27-field: v2 + signed independence threshold)"
          },
          {
            "name": "destinationAsset",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "Optional destination asset symbol (v2 binds it as destinationAssetId)"
          }
        ],
        "responses": {
          "200": {
            "description": "Safety verdict returned (paid via x402 or MPP, or authorized by API key)",
            "headers": {
              "PAYMENT-RESPONSE": {
                "description": "x402 settlement receipt for x402-paid calls.",
                "schema": { "type": "string" }
              },
              "Payment-Receipt": {
                "description": "MPP settlement receipt for MPP-paid calls.",
                "schema": { "type": "string" }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "verdict": { "type": "string" },
                        "consensusPrice": { "type": "number" },
                        "maxDeviationPct": { "type": "number" },
                        "manipulationRiskScore": { "type": "number" },
                        "crossProviderAgreement": { "type": "number" },
                        "recommendedMaxPositionUsd": { "type": "number" },
                        "staleDataRisk": { "type": "boolean" },
                        "participantCount": { "type": "integer" }
                      },
                      "additionalProperties": true
                    },
                    "requestId": { "type": "string" }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters"
          },
          "401": {
            "description": "Unauthorized (paid tier disarmed and no API key supplied)"
          },
          "402": {
            "description": "Payment Required: x402 v2 quote in PAYMENT-REQUIRED. MPP is discoverable through x-payment-info only when enabled and is available on the dedicated MPP MCP endpoint. API-key callers may also receive 402 when their credit balance is insufficient.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "x402 v2 payment quote.",
                "schema": { "type": "string" }
              },
              "WWW-Authenticate": {
                "description": "MPP challenge for the REST pre-trade endpoint when MPP_ENABLED is active.",
                "schema": { "type": "string" }
              }
            }
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/api/mcp": {
      "post": {
        "operationId": "mcpToolCall",
        "summary": "MCP tools/call over JSON-RPC 2.0 (streamable HTTP), x402 pay-per-call",
        "tags": ["MCP"],
        "description": "Pay-per-call access to the Insight oracle tool catalog (40+ tools: prices, consensus, peg risk, lending safety) for x402 agents without an API key. Price scales with the tool metering class (C1=$0.002, C2=$0.008, C3=$0.02, C4=$0.04). tools/list and initialize are free. Every paid response carries a verifiable EIP-712 attestation receipt.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": { "type": "string", "const": "2.0" },
                  "id": { "type": ["integer", "string"] },
                  "method": {
                    "type": "string",
                    "enum": ["tools/call", "tools/list", "initialize"]
                  },
                  "params": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "examples": ["get_symbols", "pre_trade_safety_check", "get_risk_summary"]
                      },
                      "arguments": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "required": ["name"],
                    "additionalProperties": true
                  }
                },
                "required": ["jsonrpc", "method", "params"],
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response (paid via x402 or free method); paid tools/call responses include the EIP-712 attestation receipt in the tool result content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": { "type": "string", "const": "2.0" },
                    "id": { "type": ["integer", "string"] },
                    "result": { "type": "object", "additionalProperties": true },
                    "error": { "type": "object", "additionalProperties": true }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "402": {
            "description": "x402 v2 challenge in the PAYMENT-REQUIRED response header (base64 JSON with USDC requirements and Bazaar metadata). Amount in the challenge reflects the requested tool's metering class."
          },
          "429": {
            "description": "Rate limited (paid tier 60/min/IP)"
          }
        }
      }
    }
  }
}
